.UID_splashbox {
    background: var(--fgColor-normal);
    height: 16em;
    width: 200%;
    position: absolute;
    transition: transform 0.9s ease-in-out;
}

.UID_splashbox_icon {
    position: absolute;
    right: 0;
}

.UID_splashbox_left-start {
    transform: translateX(-50%);
}

#UID_splashContainer {
    position: relative;
    transform: rotate(-20deg);
    width: 100%;
    height: 100%;
    right: 10%;
    top: 9em;
}

.UID_splashbox_left {
    top: 0;
    right: 35em;
}

.UID_splashbox_right {
    top: 18em;
    left: 13em;
}

.UID_splashbox_right-start {transform: translateX(50%);}

.UID_splashbox_icon svg {
    width: 15em;
    height: 15em;
    padding: 0.5em 2em;
    --svg-fgcolor: var(--bgColor-dark);
}

.UID_splashbox_text {
    width: 40%;
    padding: 1em 2em;
    box-sizing: border-box;
    height: 100%;
}

.UID_splashbox_text p {
    color: var(--bgColor-normal);
    font-size: 6em;
    font-weight: 500;
    margin: 0;
}

.UID_splashbox_left-end {
    transform: translateX(0);
}

.UID_splashbox_right-end {
    transform: translateX(0);
}