.idhbq3ngegame-contentElements-nr {font-size: 1.5em;font-family: 'Now light';padding: 0.55em 0.4em 0.25em 0.4em;height: 2em;width: 2em;text-align: center;}

.idhbq3ngegame-contentElements-type {
    padding: 0.55em 0.4em 0.25em 0.8em;
    height: 2em;
    font-weight: 200;
    font-family: 'Raleway semibold';
}

.idhbq3ngegame-contentElements-str {
    padding: 1em;
    box-sizing: border-box;
}

.idhbq3ngetimer {font-family: 'Roboto';}

div#id9i2ycwwhead-title-1 {
    min-height: 2em;
}