:root {
    --fgColor-dull: #a5a5a5 !important;
    --fgColor-darkest: #252525 !important;
    --fgColor-dark: #3c3c3c !important;
    --fgColor-normal: #404040 !important;
    --fgColor-bright: #6f6f6f !important;
    --fgColor-brightest: #ffffff !important;
    --fgColor-bloom: #e0e0e0 !important;
    --bgColor-dull: #b0b0b0 !important;
    --bgColor-darkest: #717171 !important;
    --bgColor-dark: #e2e2e2 !important;
    --bgColor-normal: #8a8a8a !important;
    --bgColor-bright: #b9b9b9 !important;
    --bgColor-brightest: #73889d !important;
    --bgColor-bloom: #394551 !important;
    --primaryColor: var(--fgColor-normal);
    --secondaryColor: var(--bgColor-darkest);
    --footerColor: var(--fgColor-normal);
    --footerGroupTitleColor: var(--fgColor-dark);
}
.UID_instruction_group {
    font-size: 2em;
    padding: 0.3em 0;
    /* text-align: center; */
}

.UID_param {
    font-family: monospace;
    text-align: center;
    padding: 0.3em;
    color: var(--fgColor-bright);
    background: #0000001f;
}

.UID_instructionContainer {}

.UID_screenwrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    height: 100%;
    align-items: center;
    padding-top: 40px;
}

.UID_instruction_group p {
    font-weight: 100;
    margin: 0.4em 0;
}

.UID_instruction_class {
    border-left: 0.3em solid #00000038;
    /* background: #2d323ce0; */
    padding: 1em 3em;
    margin: 1em 0;
    color: var(--fgColor-normal);
    /* border-radius: 0.6em; */
}

.UID_param_other {
    color: var(--bgColor-bright);
    font-weight: 100 !important;
}

.UID_instructionImage {
    position: relative;
    /* overflow: hidden; */
    width: 400px;
    margin: auto;
    right: 0;
}

.UID_instructionImage_background svg {
    width: 400px;
    /* height: 50%; */
    /* margin: auto; */
    /* display: block; */
}

.UID_instructionImage_entries svg {
    width: 400px;
}

.UID_instructionImage_entries {
    position: absolute;
    top: 350px;
}

.UID_instructionImage_background {
    filter: blur(1px);
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0.6)1%, rgba(0, 0, 0, 1.0) 20%,rgba(0, 0, 0, 1.0) 70%, rgba(0, 0, 0, 0.7) 90%);
}

.UID_instructionImage_otherEntry {
    filter: blur(1px);
}

.UID_instructionImage_entry {
    /* width: 400px; */
    /* margin: auto; */
}

.UID_instructionImage_shadow {
    width: 400px;
    height: 100%;
    position: absolute;
    top: 10%;
    filter: blur(40px);
    opacity: 0.27;
}

.UID_instructionImage_shadowbox {
    background: black;
    width: 90%;
    height: 90%;
    position: relative;
    top: 5%;
    left: 5%;
}