.UID_invisible {
    opacity: 0 !important;
}
#UID_UIdiv {
    width: 100%;
    height: 100%;
    position: relative;
    background: var(--bgColor);
    color: var(--fgColor-normal);
}
.UID_UI_fadeable {
    transition: opacity 400ms ease-in-out 0s;
    opacity: 1;
}

.UID_UI-largeSVG {display: block;width: 400px;position: absolute;top: 168px;right: 20px;}

.UID_buttonSymbol_glow_middle {
    --svg-b-top-glow: transparent;
    --svg-b-top: var(--bgColor-bright);
    --svg-b-right-glow: transparent;
    --svg-b-right: var(--bgColor-bright);
    --svg-b-bottom-glow: transparent;
    --svg-b-bottom: var(--bgColor-bright);
    --svg-b-left-glow: transparent;
    --svg-b-left: var(--bgColor-bright);
    --svg-b-center-glow: var(--fgColor-bloom);
    --svg-b-center: var(--fgColor-bright);
}

p#UID_nextNotice {
    position: relative;
    width: 60%;
    margin: auto;
    text-align: center;
    top: 20px;
    font-size: 1.5em;
    color: var(--bgColor);
    background: var(--fgColor);
    padding: 0.5em;
}

.UID_UI_text_startNotice {
    position: absolute;
    width: 360px;
    text-align: left;
    top: 90px;
    left: 40px;
    font-size: 5em;
    font-weight: 600;
    font-family: 'Raleway';
    margin: 0;
}


.UID_UI_text_readyNotice {
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
    position: relative;
    top: 3em;
    font-size: 7em;
    height: 100%;
    background: var(--fgColor-normal);
    color: var(--bgColor-dark);
    line-height: 1;
    padding: 0.3em;
}