:root {
    --bgcolor: #2f3943;
    --inputarea-bgcolor: #2b343e;
    --inputarea-textcolor: #ffffff;
    --inputarea-suggestiontcolor: #8092a8;
    --textcolor: #ffffff;
    --title1color: #ffffff;
    --title2color: #a5b2c1;
    --itemcolor: #3f4c59;
    --activeitemcolor: #b5c0ca;
    --hoveritemcolor: hsla(209, 17%, 60%, 1);
    --buttonitemcolor: #5c6f82;
    --highlightcolor: hsl(34, 100%, 50%);
    --subtlehighlightcolor: #315477;
}
@keyframes attention-highlight {
    0% {background: var(--highlightcolor);}
}
@keyframes subtle-highlight {
    0% {background: var(--subtlehighlightcolor);}
}
.t-subtle-highlight {
    animation: subtle-highlight 1s !important;
}
body {font-family: 'roboto';font-weight: 300;background: var(--bgcolor);color: var(--textcolor);margin: 0;}
.body-wrapper{
    width: 60%;
    position: relative;
    margin: 2em auto 10em auto;
    /* background: purple; */
}
p {
    margin: 1em;
    padding: 0;
}
.i {
    width:1em;
    height:1em;
    display: block;
    position: relative;
    margin: auto;
}
.i-bin {
    background: url('resource/i/bin.svg');
    background-size: contain;
}
.t-area-wide {
    width: 100%;
    display: block;
    background: var(--inputarea-bgcolor);
    border: none;
    outline: none;
    color: var(--inputarea-textcolor);
    padding: 0.5em;
    box-sizing: border-box;
    margin: 0 0 1em 0;
    resize: vertical;
    min-height: 4em;
    padding: 1.2em;
    font-family: roboto;
}
.list-settings-name {}
.list-settings-desc {
    min-height: 10em;
}
input[type="checkbox"] {
    
background: var(--inputarea-bgcolor);
    
color: black;
}

.list-game {
    margin: 0 0 3em 0;
}
.list-game-item {
    margin: 0.5em 0;
    position: relative;
}
.list-game-item-title {
    padding: 0.1px;
    width: calc(100% - 3.4em);
    box-sizing: border-box;
}
.list-game-item-title-active {
    background: var(--activeitemcolor);
}
.list-game-item-interactable {
    position: absolute;
    top: 0;
    right: 0;
    width: 3.4em;
    height: 100%;
}
.list-game-button {
    background: var(--itemcolor);
    transition: background 0.06s;
}
.list-game-item-title:hover{
    background: var(--hoveritemcolor);
    cursor: pointer;
}
.list-game-button p{
    max-width: calc(100% - 6em);
    position: relative;
}
.list-game-button button, .list-element-item button{
    position: relative;
    background: none;
    border: 0;
    font-size: 1.3em;
    width: 100%;
    height: 100%;
    cursor: inherit;
}
.list-game-item-interactable{
    fill: var(--hoveritemcolor);
    background: var(--itemcolor);
}
.list-game-item-interactable:hover{
    background: var(--hoveritemcolor);
    fill: var(--itemcolor);
    cursor:pointer;
}
.list-game-new-button {
    text-align: center;
    padding: 0.1px;
    background: var(--buttonitemcolor);
    box-sizing: border-box;
}
.list-game-new-button:hover{
    background: var(--hoveritemcolor);
    cursor: pointer;
}
.list-game-new-button p{}

.list-settings {
    background: var(--itemcolor);
    box-sizing: border-box;
    position: relative;
    overflow: auto;
    margin: 0 0 3em 0;
}
.list-elements {
    display: flex;
    flex-direction: column;
}

.checkbox {display: inline-block;width: 1em;height: 1em;margin: 0 0.5em 0 0;padding: 0;position: relative;box-sizing: border-box;top: 0.1em;transition: background 0.2s, border 0.2s;}

.checkbox-checked {
    border: 0.2em solid var(--inputarea-bgcolor);
    background: var(--inputarea-textcolor);
}

.checkbox-unchecked {
    background: var(--inputarea-bgcolor);
    border: 0px solid var(--inputarea-bgcolor);
}

h2, h3 {
    font-weight: 200;
    padding: 0;
}

h2 {
    margin: 1.2em 0.8em;
    font-size: 1.2em;
    color: var(--title1color);
}

h3 {
    padding: 1em 1em 0.5em 1em;
    font-size: 1em;
    color: var(--title2color);
    font-weight: 300;
    margin: 0;
}

.input-digit {
    background: transparent;
    border: none;
    height: 100%;
    width: 3em;
    /* margin: 0 0.4em; */
    padding: 0.3em;
    box-sizing: border-box;
    color: var(--inputarea-textcolor);
    font-family: roboto;
    outline: none;
}
.list-element-item-interactable-input {
    position: relative;
    float: right;
    width: 3.4em;
    height: 100%;
}
.list-element-item-interactable-input input{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background: var(--inputarea-bgcolor);
    border: none;
    color: var(--inputarea-textcolor);
    outline: none;
    margin: 0;
    padding: 0;
}

.list-element-item-interactable {
    position: relative;
    top: 0;
    float: right;
    /* right: 0; */
    width: 3.4em;
    height: 100%;
}
.list-element-item-interactable{
    fill: var(--hoveritemcolor);
    /* background: var(--itemcolor); */
}
.list-element-item-interactable:hover{
    background: var(--hoveritemcolor);
    fill: var(--itemcolor);
    cursor:pointer;
}

.list-element-item-title {
    position: relative;
    /* padding: 0.5em 0 0 0; */
    height: 3.4em;
}

select {
    margin: 0.7em 0.5em;
    background: none;
    color: var(--textcolor);
    border: none;
    font-size: 1.3em;
    font-family: roboto;
    font-weight: 200;
    outline: none;
}

option {
    background: var(--inputarea-bgcolor);
    color: var(--inputarea-textcolor);
    border: none;
    font-weight: 200;
}

.list-element-item {background: var(--itemcolor);margin: 0.5em 0;padding: 0 0 0.1px 0;transition: background 0.5s;animation-name: attention-highlight;animation-duration: 1s;animation-iteration-count: 1;}

.list-element-content {
    min-height: 12em;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background: var(--itemcolor);
    padding: 0.6em;
    text-align: center;
}

.footer button {
    border: 0;
    outline: 0;
    padding: 0.7em;
    margin: 0 0.2em;
    cursor: pointer;
    transition: color 0.2s, background 0.2s;
}

.footer-button-local {
    background: var(--bgcolor);
    color: var(--inputarea-suggestiontcolor);
}
.footer-button-local:hover {
    background: var(--hoveritemcolor);
    color: var(--bgcolor);
}

.footer-button-device {
    background: var(--hoveritemcolor);
    color: var(--textcolor);
}
.footer-button-device:hover {
    background: var(--activeitemcolor);
    color: var(--bgcolor);
}



.select-str {
    font-size: 1em;
    background: var(--inputarea-bgcolor);
    margin: 0 0.5em;
}

.input-heading {
    background: var(--inputarea-bgcolor);
}

span.input-bg {
    background: var(--inputarea-bgcolor);
    /* height: 1.6em; */
    padding: 0 0.3em;
    box-sizing: border-box;
    border: none;
    position: relative;
    display: inline-block;
    margin: 0 0.5em;
}
.setting-disabled {
    opacity: 0.4;
}

button {
    outline: none;
}