:root {
    --fgColor-dull: #a9a54c;
    --fgColor-darkest: #727029;
    --fgColor-dark: #afaa2c;
    --fgColor-normal: #fff40c;
    --fgColor-bright: #fffcb0;
    --fgColor-brightest: #fffba2;
    --fgColor-bloom: #fff40c;
    --bgColor-dull: #b0b0b0;
    --bgColor-darkest: #1c2228;
    --bgColor-dark: #2f3943;
    --bgColor-normal: #394551;
    --bgColor-bright: #73889d;
    --bgColor-brightest: #73889d;
    --bgColor-bloom: #394551;

    --primaryColor:  var(--fgColor-normal);
    --secondaryColor:  var(--bgColor-darkest);
    --footerColor: var(--fgColor-normal);
}
.r_hidden {
    /*height: 0 !important;*/
    display: none !important;
}
.r_invis {
    opacity: 0 !important;
}
.r_invisCapable {
    /*opacity: 1;*/
    transition: opacity 0.3s ease-in-out;
}
div#screenContainer {
    width: 1024px;
    /* min-height: 1024px; */
    position: relative;
    margin: auto;
    background: var(--bgColor-dark);
    /* overflow-y: hidden; */
    /* overflow-x: visible; */
    padding: 0 0 5em 0;
}
body {
    background: #844343;
    background: var(--bgColor-dark);
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    color: white;
    min-height: 1024px;
    /* width: 1280px; */
    overflow: hidden;
}



#footer {
    position: fixed;
    bottom: 0;
    height: 5em;
    width: 100%;
    background: var(--bgColor-normal);
}

.footerElementGroup {
    height: 4em;
    margin: auto;
}

.footerElementGroupTitle {
    font-size: 3em;
    float: left;
    font-family: 'Now';
    padding: 0.3em;
    color: var(--footerColor);
}

.footerElementGroup p {
    margin: 0;
}

.footerElement {
    font-size: 3em;
    float: left;
    font-family: 'Now';
    padding: 0.3em;
    display: grid;
    grid-template-columns: 1.1em auto;
    grid-column-gap: 0.2em;
    color: var(--footerColor);
}

.footerElementIcon {
    width: 1.1em;
    height: 1.1em;
    background: var(--bgColor-normal);
}

.UI_smallSVG{
    width: 100%;
    height: 100%;
}

.buttonSymbol_glow_up {
    --svg-b-up-glow: var(--primaryColor);
    --svg-b-up: var(--primaryColor);
    --svg-b-right-glow: transparent;
    --svg-b-right: var(--secondaryColor);
    --svg-b-down-glow: transparent;
    --svg-b-down: var(--secondaryColor);
    --svg-b-left-glow: transparent;
    --svg-b-left: var(--secondaryColor);
    --svg-b-confirm-glow: transparent;
    --svg-b-confirm: var(--secondaryColor);
}
.buttonSymbol_glow_down {
    --svg-b-up-glow: transparent;
    --svg-b-up: var(--secondaryColor);
    --svg-b-right-glow: transparent;
    --svg-b-right: var(--secondaryColor);
    --svg-b-down-glow: var(--primaryColor);
    --svg-b-down: var(--primaryColor);
    --svg-b-left-glow: transparent;
    --svg-b-left: var(--secondaryColor);
    --svg-b-confirm-glow: transparent;
    --svg-b-confirm: var(--secondaryColor);
}
.buttonSymbol_glow_left {
    --svg-b-up-glow: transparent;
    --svg-b-up: var(--secondaryColor);
    --svg-b-right-glow: transparent;
    --svg-b-right: var(--secondaryColor);
    --svg-b-down-glow: transparent;
    --svg-b-down: var(--secondaryColor);
    --svg-b-left-glow: var(--primaryColor);
    --svg-b-left: var(--primaryColor);
    --svg-b-confirm-glow: transparent;
    --svg-b-confirm: var(--secondaryColor);
}
.buttonSymbol_glow_right {
    --svg-b-up-glow: transparent;
    --svg-b-up: var(--secondaryColor);
    --svg-b-right-glow: var(--primaryColor);
    --svg-b-right: var(--primaryColor);
    --svg-b-down-glow: transparent;
    --svg-b-down: var(--secondaryColor);
    --svg-b-left-glow: transparent;
    --svg-b-left: var(--secondaryColor);
    --svg-b-confirm-glow: transparent;
    --svg-b-confirm: var(--secondaryColor);
}
.buttonSymbol_glow_confirm {
    --svg-b-up-glow: transparent;
    --svg-b-up: var(--secondaryColor);
    --svg-b-right-glow: transparent;
    --svg-b-right: var(--secondaryColor);
    --svg-b-down-glow: transparent;
    --svg-b-down: var(--secondaryColor);
    --svg-b-left-glow: transparent;
    --svg-b-left: var(--secondaryColor);
    --svg-b-confirm-glow: var(--primaryColor);
    --svg-b-confirm: var(--primaryColor);
}